@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'Montserrat', sans-serif;;
}
input {
  border: 1px solid #ccc;
  height: 40px;
  padding-left: 20px;
}

input:focus {
  border: 1px solid rgb(40, 40, 40);
  outline: none;
}

.primary-contained-btn {
  background-color: #43C2D0;
  height: 40px;
  padding: 0 20px;
}

.span {
  background-color: aliceblue;
  padding: 20px;
}